.root 
{
    -ms-transform: translate(50%, 25%);
    transform: translate(50%, 25%);
    width: 50%;
    height: 50%;
}

.title {
    font-size: 2em;
    font-weight: bold;

    margin: auto;
    padding-bottom: 0.25em;
    width: fit-content;

    background: -webkit-linear-gradient(0deg, #f7b258,#ff5acd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main
{
    padding-bottom: 3em;
    a
    {
        font-weight: 550;
        font-size: 1.25em;
        display:inline;
        justify-content: center;
        color: #e2e7ec;
        
        padding-left: .5em;
        padding-right: .5em;
        text-decoration: underline;
        text-decoration-skip: solid;
        text-underline-offset: 0.25em;
        
        line-height: 1.5em;
        cursor: pointer;
    }
}

.container
{
    padding-top: 1.25em;
    padding-bottom: 1.25em;
}

.social-links
{
    li
    {
        list-style-type: none;
        align-content: space-between;
    }
}

.icon
{
    background-color: #ff5acd;
    margin: 0 auto;
}

nav
{
    margin: 0 auto;
    width: fit-content;
    color: #ffffff;
}

p { 
    padding-top: .25em;
    padding-bottom: .25em;
    font-family: "Segoe UI";
    font-weight: 500;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -.3px;

    margin: auto;
    width: fit-content;
    max-width: 30em;
    text-align: center;

}

h1 {
    margin: 0;
    padding-top: .25em;
    padding-bottom: .25em;
    color: #ffffff;
    margin: auto;
    width: fit-content;

}

* {
    font-family: "inter";
    background-color: #333333;
}