html {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    color: whitesmoke;
}
body
{
    font-family: Helvetica Neue,sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80vw;
}

nav
{
    margin: 0 auto;
    display: flex;
    justify-content: start;
}

.name
{
    color:floralwhite;
}
.nav-link
{
    background-color: rgba(0,0,0,0);
    border-radius: 500px;
    padding: 0.25em 1em 0.25em 1em;
    margin-right: 1.75em;
    margin-right: 1em;
}

.active-nav-link
{
    background-color: whitesmoke;
    border-radius: 500px;
    background: white;
    border: solid 2px whitesmoke;
}

.inactive-nav-link
{
    background: none;
    border: solid 2px whitesmoke;
    border-radius: 500px;
}

.inactive-nav-link:hover
{
    background-color: #666666;
    border-radius: 500px;
    transition: background-color 200ms;
}

.btn
{
    background-color: #5d91af;
    border-radius: 500px;
    padding: 0.35em 0.5em 0.35em 0.5em;
    margin-right: .85em;
    width: fit-content;
}

.btn>a
{
    font-size: 0.85em;
    color: whitesmoke;
    font-weight: 550;
}

.btn:hover
{
    background-color: #75a85d;
    border-radius: 500px;
    transition: background-color 200ms;
}

.social-link
{
    margin-right: 2em;
}

img
{
    max-width: 25px;
}

img:hover
{
    transform: translateY(-5px);
    transition: transform 250ms;
}
.nav-link >a
{
    font-size: large;
    color: ivory;
}
.active-nav-link >a
{
    color: #181818;
}

.about-section
{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.about
{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: left;
}

.about >h1
{
    color: thistle;
    font-size: calc(12pt + 3vw);
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.035;
    font-family: circular-stdregular, Helvetica Neue, sans-serif;
}


.work
{
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: start;
}

.container
{
    max-width: 25vw;
    margin: 0 2em 0 0;
}
.footer
{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.padding-top
{
    padding-top: 10vh;
}


.blogs-section
{
    margin-top: 2em;
    display: flex;
    flex-flow: column;
    justify-content: start;
}
.blog-container
{
    max-width: 25vw;
    margin: 0em 0 1em 0;
}

.blog-container>h3
{
    font-size: x-small;
    margin: 0;
    padding-left: 2em;
}

.blog-container>p
{
    padding-left: 1.2em;
    line-height: 1.5em;
}

.divider
{
    background-color: whitesmoke;
    width: 100%;
    height: 2px;
    margin-top: 2em;
}
.projects-section
{
    margin-top: 2em;
    display: flex;
    flex-flow: column;
    justify-content: start;
}
.project-container
{
    max-width: 25vw;
    margin: 2em 0 2em 0;
}


.project-container>h3
{
    font-size: x-small;
    margin: 0;
    padding-left: 2em;
}

.project-container>p
{
    padding-left: 1.2em;
    line-height: 1.5em;
}

.project-buttons
{
    margin: 0 auto;
    display: flex;
    padding-left: 1.15em;
    /* justify-content: start; */
}
.blog-buttons
{
    margin: 0 auto;
    display: flex;
    padding-left: 1.15em;
    /* justify-content: start; */
}