html {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    color: whitesmoke;
}
body
{
    font-family: apercu_proregular,Helvetica Neue,sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80vw;
}

nav
{
    margin: 0 auto;
    display: flex;
    justify-content: start;
}

.nav-link
{
    background-color: rgba(0,0,0,0);
    border-radius: 500px;
    padding: 0.25em 0.5em 0.25em 0.5em;
    margin-right: 1.75em;
    margin-right: 2em;
}

.active-nav-link
{
    background-color: whitesmoke;
    border-radius: 500px;
    background: white;
    border: solid 2px whitesmoke;
}

.inactive-nav-link
{
    background: none;
    border: solid 2px whitesmoke;
    border-radius: 500px;
}

.inactive-nav-link:hover
{
    background-color: #666666;
    border-radius: 500px;
    transition: background-color 200ms;
}

.btn
{
    background: none;
    border: solid 2px whitesmoke;
    border-radius: 500px;
    padding: 0.25em 0.5em 0.25em 0.5em;
    margin-right: 1.75em;
    width: fit-content;
}

.btn>a
{
    font-size: large;
    color: whitesmoke;
}

.btn:hover
{
    background-color: #666666;
    border-radius: 500px;
    transition: background-color 200ms;
}


.social-link
{
    margin-right: 2em;
}

img
{
    max-width: 25px;
}

img:hover
{
    transform: translateY(-5px);
    transition: transform 250ms;
}
.nav-link >a
{
    font-size: large;
    color: ivory;
}
.active-nav-link >a
{
    color: #181818;
}

.about-section
{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.about
{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: left;
}

.about >h1
{
    color: thistle;
    font-size: calc(12pt + 3vw);
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.035;
    font-family: circular-stdregular, Helvetica Neue, sans-serif;
}
.work
{
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: start;
}

.container
{
    max-width: 25vw;
    margin: 0 2em 0 0;
    /* display: flex; */
    /* flex-flow: column; */
    /* align-items: flex-start; */
}
.footer
{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
